/* configuracion */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
:root{
    --color-header: #575366;
    --color-interfaz: #2D93AD;
    --color-extra: #0D1F2D;
    --color-text: hsl(0, 0%, 80%);
}
/* encabezado */
body{
    height: 100vh;
}

header{
    background-color: var(--color-header);
    color: var(--color-text);
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: var(--color-extra);
    color: var(--color-text);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

/* cuerpo de la pagina */

main{
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* cuerpo del clicker */

.clicker{
    background-image: radial-gradient(
        circle at center,
        #5ADBFF 0%,
        #3C6997 30%,
        #094074 100%
    );
    color: var(--color-text);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#click {
    border: 10px solid var(--color-extra);
    background-color: white;
    border-radius: 50%;
    height: 20rem;
    aspect-ratio: 1/1;
}

#click:active{
    transform: scale(1.1);
}

/* cuerpo de la interfaz */

.interfaz{
    background-color: var(--color-interfaz);
    color: var(--color-text);
    text-align: center;
}

#menu{
    display: flex;
    flex-flow: column;
}

#menu div{
    background-color: var(--color-header);
    color: var(--color-text);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: left;
    display: flex;
    gap: 3rem;
    margin: 1rem;
    border: 10px solid var(--color-extra);
}

#menu img{
    height: 7rem;
    aspect-ratio: 1/1;
}

#menu span{
    font-size: 1.5rem;
}

#menu div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 5rem;
    border: 0;
}